extends ../jade/includes/layout-pages.jade

//- Head html tag

block title
	title 7 Obras - A pesar de tanto gris

block content
	
	//- Body tag
	body.obras_pages
		//- Header & menu
		header
			div.container
				div.row
					div.col
						+header-logo
						+menu
		
		div.main.animsition(data-animsition-in-class="fade-in-up" data-animsition-in-duration="1000" data-animsition-out="fade-out-down" data-animsition-out-duration="1000")
			div.container
				
				div.row
					div.col
						//- Right vertical text (legal)		
						+right-vertical-text
						
				div.row.content_box
					div.col-lg-10
					
						div.buttons_up
							a.btn-primary.animsition-link(href='/obras/el-corazon-de-la-cana.html' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000')
								span El corazón de la caña
								
						//- video	
						div.banner-video.wow.fadeInUp
							div.col-md-10#video
								div.embed-container
									iframe(src="https://www.youtube.com/embed/blkEdqvpnQQ?&rel=0&showinfo=0&controls=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
									
						div.caption.col-md-5.offset-md-7
							p El aspecto tímbrico es uno de los elementos donde se evidencia el mayor nivel de cambios frente a las versiones originales. En la base rítmica se encuentra una conformación con instrumentos que no hacen parte de la práctica habitual de estas músicas. El rol del bajo eléctrico y batería, consistió en definir las estructuras rítmicas y acentuales. El piano y la guitarra eléctrica, jugaron un papel complementario, buscando en primer lugar, en la función de acompañamiento ritmo-armónico, no duplicarse. A partir de este punto, el instrumento que no cumpliera ese rol, entró a ser parte de apoyo a las líneas melódicas de los instrumentos de viento.
							
							div.playlist
								+spotify-playlist
				
				div.row.content_box
					div.col-lg-5
						
						h5 Obra
						h1 A pesar de tanto gris
						
						p De las siete obras presentes en el proyecto, el arreglo de A Pesar de Tanto Gris, compuesta por Luz Marina Posada (2004), fue el primero en ser elaborado y estrenado en el Festival de Jazz de la Universidad de Louisville en Febrero de 2017.  En un contexto en el cual confluyen diversos elementos de cada uno los lenguajes musicales que estaban en juego, la creación de todos los arreglos tuvo como punto de partida comprender las canciones, aproximándose, desde lo intuitivo, lo experiencial, y lo analítico, a sus melodías, letras, estructuras, y armonías. 
						
						blockquote Una vez realizado el acercamiento al repertorio escogido, desarrollamos los bosquejos o planos preliminares de cada obra. En esta etapa, tuvimos como referencia, únicamente, el  guión melódico de cada canción; no entraron en consideración elementos presentes en las versiones originales.
						
						p Los criterios para construir los esquemas y borradores se basaron en resolver tres grupos de preguntas, las cuales permitieron clarificar y enfocar ciertas tareas del proceso creativo.  

						p De esta forma, en el primer grupo, encontrabamos los siguientes cuestionamientos: ¿cómo se va a presentar la melodía? ¿Qué partes se rearmonizarán? ¿Cuáles herramientas de rearmonización se emplearán? ¿Se crearán contramelodías o melodías de acompañamiento? ¿Se generarán vamps o pedales? ¿Se agregarán nuevas secciones?

						p El segundo conjunto de preguntas se enfocó en establecer la  textura en la cual se iba a presentar algunas de las ideas generadas en el paso anterior. De esta forma, a través de estos cuestionamientos buscamos definir si las melodías, tanto principales como secundarias, se presentarían en unísonos, octavas, o si, serian armonizadas de manera seccional.

						p Finalmente, una vez establecimos tanto el material ritmo-melódico, como la manera en la que sería presentado, definimos qué instrumento, o combinaciones de estos, ejecutarían las ideas musicales. Este procedimiento lo desarrollamos con el objetivo de explorar las diferentes posibilidades tímbricas presentes en el  formato.

						p A partir de este proceso, elaboramos tres tipos de bosquejos, el primero sobre una impresión del guión melódico, en el cual escribimos las anotaciones que resolvían cada uno de los cuestionamientos presentados anteriormente
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 1).
							| El segundo, consistía en un plano horizontal de la obra, el cual funciona como una línea de tiempo en la cual se exponen los eventos que se presentan en el desarrollo de la pieza. Este esquema estaba construido a partir de dos ejes, uno vertical y otro horizontal. En el primero, se encuentran los instrumentos del formato, en el segundo, las secciones de la pieza. Sobre estos ejes, escribimos los roles y eventos que se planeaban ejecutar
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 2). 

						p Como modelo alternativo a los planos horizontales, empleamos otro tipo de bosquejos en los cuales se encontraban dos aspectos: las secciones del tema, y el rol que cumpliría cada uno de los instrumentos en cada una. Estos desarrollos nos permiteron revisar que no se estuviesen repitiendo o saturando el uso de ciertos recursos armónicos, melódicos o tímbricos
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 3).
						
			div.banner_obras 
				img(src="../images/obras/el-corazon-de-la-cana/el-corazon-de-la-cana.jpg" alt="El corazón de la caña")
								
			div.container
			
				div.row.content_box
					div.col-lg-5
						
						p La organización de las contramelodias y frases que complementan las melodìas principales, está basada en una metodología empleada por el arreglista y compositor John La Barbera, quien sugiere un desarrollo creativo a partir de las siguientes herramientas: ecos, respuestas, estructuras rítmicas, conducciones lineales y armonizaciones en bloque (La Barbera 2016)

						p Los procesos creativos de compositores y arreglistas pueden tener diferentes métodos y maneras de abordar la escritura de una obra. Las ideas se puede generar tanto a partir de lo espontáneo y la improvisación, algunas veces ejecutado a través de un instrumento, como de la planeación y organización. En ambos escenarios el creador puede explicar el porqué se llegan a ciertas decisiones, sin embargo, el origen de las ideas musicales, sobre las cuales se ejecutan las resoluciones, pueden carecer de una explicación de su origen exacto (Beirach 2014). 

						p Desde el punto de vista armónico, el arreglo de esta obra explora diferentes sonoridades, las cuales toman como partida algunos elementos presentes en la versión original. La versión de Luz Marina Posada, comienza con una pedal en C sobre el cual se sobreponen acordes como Bb o F. En el arreglo se mantiene la idea del pedal, presentando tanto variaciones rítmicas, como la aplicación de disposiciones cuartales, las cuales buscan generar una sonoridad mixolidia
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 4).
							| El carácter diatónico de la melodía nos permitió realizar esta exploración modal; en el compás 144, empleamos un recurso similar, en este caso sugiriendo un estructura vertical modal en A eolico.
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 5).
							| Estas sustituciones y los demás cambios armónicos realizados, determinaron e influenciaron ciertas decisiones de orquestación y contramelodías presentes en el arreglo. A partir de las nuevas armonías y siguiendo el modelo propuesta por John La Barbera, creamos melodías de acompañamiento que delinearan tanto las tensiones disponibles de los acordes, como las notas guías de estos
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 6).
							| En los fragmentos en los cuales no se realizaron rearmonizaciones, las orquestaciones manejaron otro tipo de texturas, por ejemplo en el compás 114 se encuentra, a través del uso de preguntas-respuesta,  un diálogo entre la melodía principal y las melodías secundarias
							a(href="../images/obras/el-corazon-de-la-cana/Ejemplos-2-rearmonizaciones-el-corazon-de-la-cana.pdf" data-lity)  (ejemplo 7).

			
				div.row
					div.col
						
						div.buttons_down
							a.btn-primary.animsition-link(href='/obras/pesares.html' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000')
								span Pesares
								
					
		//- Footer	
		+footer-block("footer-pages")
		
		
		


