doctype
html(lang="en")
	head
		title= pageTitle
	body
		h1 Jade - node template engine
		#container.col
			if youAreUsignJade
				p You are amazing
			else
				p Get on it!ss
			p Jade la chimba
			
			
			
//- basic tag elements
div
h1
p
a
span
blockquote
header
nav
main
aside
footer

//- self closing tags
img/
br/
hr/
meta/
embed/

//- nesting example
ul
	li example 1
	li example 2
	
table
	tbody
		tr
			td
			
div
	p
		span
		
div: p: span



