//- ---------------------------- header logo ------------------------------- //
mixin header-logo
	div.logo_header_UEB
		a.button.up.animsition-link(href='../index.html' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000')
			img(src="../images/svg/logo-UEB.svg" alt="Universidad El Bosque")



//- ---------------------------- menu ------------------------------- //
mixin menu
	div.menu-wrap
		nav.menu
			div.icon-list
				ul.dl-menu
					li
						a.animsition-link(href='../' class='title-menu button up' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000'): span Inicio
						
					li
						a.animsition-link(href='../obras.html' class='title-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span Obras
						
						ul
							li
								a.animsition-link(href='../obras/el-corazon-de-la-cana.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span El corazón de la caña
							li
								a.animsition-link(href='../obras/a-pesar-de-tanto-gris.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span A pesar de tanto gris
							li
								a.animsition-link(href='../obras/pesares.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span Pesares
							li
								a.animsition-link(href='../obras/el-vuelo.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span El vuelo
							li
								a.animsition-link(href='../obras/a-bordo-de-tu-voz.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span A bordo de tu voz
							li
								a.animsition-link(href='../obras/el-beso-que-le-robe-a-la-luna.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span El beso que le robé a la luna
							li
								a.animsition-link(href='../obras/despues-que-me-olvide-de-ti.html' class='subtitle-menu button up' data-animsition-out-class='fade-out-right' data-animsition-out-duration='1000'): span Después que me olvide de tí					
					 
					li
						a.animsition-link(href='../como-lo-hicimos.html' class='title-menu button up' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000'): span ¿Cómo lo hicimos?
					li
						a.animsition-link(href='../quienes-lo-hicimos' class='title-menu button up' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000'): span ¿Quienes lo hicimos?
					li
						a.animsition-link(href='../hablemos.html' class='title-menu button up' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000'): span Hablemos
					
		button(class='close-button' id='close-button') Close Menu
		
	button(class='menu-button' id='open-button') Open Menu
		

//- ---------------------------- footer ------------------------------- //
mixin fn(name)
	if name == "amit"
		h2 Hello
	else
		h4 World
//- +fn("amit")

mixin footer-block(footer)
	if footer == "footer-pages"
		footer.pages
			//- Left elements
			div.left
				a(href='../') 
					span Inicio
				a(href='https://www.uelbosque.edu.co/creacion-y-comunicacion' target='_blank') 
					span Acerca de la facultad de diseño y comunicación
				a(href='http://masdlab.co/' target='_blank') 
					span Masdlab
				a(href='http://centrodiseno.unbosque.edu.co/' target='_blank') 
					span Centro de diseño
					
			div.right
				p FACULTAD DE DISEÑO Y COMUNICACIÓN UNIVERSIDAD EL BOSQUE  ·  Edificio Fundadores Av. Cra 9 No. 131 A - 02 · Línea Gratuita 018000 113033 · PBX (571) 6489000
				a(href='../index.html')
					img(src="../images/svg/facebook-orange.svg" alt="Facebook")
				a(href='../index.html')
					img(src="../images/svg/instagram-orange.svg" alt="Instagram")
				a(href='../index.html')
					img(src="../images/svg/twitter-orange.svg" alt="Twitter")
	else
		//- Footer content	
		footer.home
			//- Left elements
			div.left
				a(href='../') 
					span Inicio
				a(href='https://www.uelbosque.edu.co/creacion-y-comunicacion' target='_blank') 
					span Acerca de la facultad de diseño y comunicación
				a(href='http://masdlab.co/' target='_blank') 
					span Masdlab
				a(href='http://centrodiseno.unbosque.edu.co/' target='_blank') 
					span Centro de diseño
					
			div.right
				p FACULTAD DE DISEÑO Y COMUNICACIÓN UNIVERSIDAD EL BOSQUE  ·  Edificio Fundadores Av. Cra 9 No. 131 A - 02 · Línea Gratuita 018000 113033 · PBX (571) 6489000
				a(href='../index.html')
					img(src="images/svg/facebook-white.svg" alt="Facebook")
				a(href='../index.html')
					img(src="images/svg/instagram-white.svg" alt="Instagram")
				a(href='../index.html')
					img(src="images/svg/twitter-white.svg" alt="Twitter")
				
				
//- ---------------------------- Vertical legal text ------------------------------- //
mixin right-vertical-text
	div.right_vertical_text
		span Facultad de Creación y Comunicación // Formación Musical
		span /////////
		
		
//- ---------------------------- scroll to top button ------------------------------- //		
mixin scroll-top-button
	div.scroll-top
		a#button-top