extends ./jade/includes/layout-pages.jade

//- Head html tag

block title
	title 7 Obras - Cómo lo hicimos

block content
		
	//- Body tag
	body
		//- Header & menu
		header
			div.container
				div.row
					div.col
						+header-logo
						+menu
		
		div.main.animsition(data-animsition-in-class="fade-in-up" data-animsition-in-duration="1000" data-animsition-out="fade-out-down" data-animsition-out-duration="1000")
			div.container
				
				div.row
					div.col
						//- Right vertical text (legal)		
						+right-vertical-text
				
				div.row.content_box.columns-2
					div.col-lg-4
						
						//- Content & 1
						div.buttons_up
							a.btn-primary.button.up(href='../index.html')
								span Obras
						
						h1 ¿Cómo lo hicimos?
						p “Arreglos de 7 obras del repertorio vocal de la región andina colombiana para ensamble de jazz”, es un proyecto de investigación-creación, que explora los arreglos y la interpretación de una serie de canciones andinas colombianas, desde la perspectiva de un ensamble instrumental. 
						
						p En un contexto en el cual están ausentes tanto la voz como las letras, buscamos crear un diálogo entre distintos elementos: por un lado las sonoridades propias de las prácticas asociadas con las músicas de la región andina colombiana, y por el otro, elementos vinculados al jazz modal y contemporáneo. A partir de la relación de estos componentes, seleccionamos un formato instrumental en donde se pudiese generar el encuentro de los diferentes elementos sonoros que confluyen en las obras. De esta manera, la instrumentación escogida estuvo constituida por batería, bajo eléctrico, guitarra eléctrica, piano, trompeta, saxofón alto y flauta. 
						
						p En el proceso de generar un escenario en el cual confluyeran elementos propios de diferentes lenguajes sonoros, los puntos de encuentro no se produjeron de una manera calculada o matemática. Este tratamiento, se construyó desde una experimentación y desarrollo que estuvo marcado por la prueba y el error. El punto de partida fue el conocimiento y dominio, de cada uno de los lenguajes que entraron en juego en la creación de las obras. Es así como convergen elementos del jazz, las músicas tradicionales, el rock y las músicas de cámara. 
						
						blockquote Las canciones llegaron a este proyecto como un elemento que renueva nuestro quehacer creativo. Contar las mismas historias que relatan estas, con la ausencia de la voz, plantearon un reto inmenso. 
						
						p La creación de los arreglos fué desarrollada en un marco en el cual buscamos tener un balance entre dos elementos, ideas musicales que se generaran desde la espontaneidad, improvisación e intuición, y conceptos que estuviesen fundamentados en el análisis musical. En la elaboración de las piezas se encuentra la aplicación detallada de diferentes técnicas de escritura para instrumentos de viento, conceptos de rearmonización y manejos alternativos en la estructura, todos estos, esquemas que parecieran estar más cercanos a lo teórico; sin embargo, el resultado final, es también producto de una exploración sonora que hemos construido a partir de la inquietud por buscar y generar un diálogo entre los diferentes lenguajes que convergen en el proceso de creación musical.

						p El repertorio fue escogido buscando piezas representativas de diferentes momentos de la canción andina colombiana. En la actualidad, es común encontrar en los festivales y concursos, una división entre dos categorías, tradicional y nuevas expresiones. La primera se refiere a propuestas desarrolladas, especialmente, por músicos de formación empírica. La segunda corresponde, a las interpretaciones provenientes de tendencias o escuelas musicales contemporáneas, principalmente generadas por intérpretes de formación académica (Cobo 2010). A partir de un listado inicial, de aproximadamente treinta canciones, seleccionamos las obras que, desde los contenidos de sus letras y melodías, nos generaran interés por buscar maneras de narrarlas desde un contexto instrumental con ausencia de la voz cantada.  De esta manera, encontramos dentro del marco de las nuevas expresiones, tres canciones de Luz Marina Posada: A bordo de tu voz, A Pesar de tanto gris y El Vuelo. Por parte de Héctor Ochoa, aparece el pasillo  Después que me olvide ti y De Luis Enrique Aragón  escogimos El Beso que le robé a la Luna. Dentro del contexto del repertorio tradicional, seleccionamos Pesares de Jose Barros, y finalmente de  Jose A. Morales, el Corazón de la Caña.  En cada uno de los siete arreglos exploramos diferentes herramientas y sonoridades, sin embargo, encontramos dos elementos que son transversales a lo largo de todo el proyecto, el primero, la exploración de los elementos tímbricos y posibilidades de amplitud, peso y densidad que nos brindaba el formato instrumental empleado, y segundo, la aplicación de conceptos de rearmonización, los cuales buscaban decididamente, desdibujar el carácter tonal de las versiones originales.

							
							
					div.col-lg-8.columns-2
						
						//- Content & 2	
						div.banner-video.wow.fadeInUp
							div.col-md-10#video
								div.embed-container
									iframe(src="https://www.youtube.com/embed/wZYyNI7RtQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
									
						div.caption.col-md-6.offset-md-5
							p Los procesos de composición y arreglos pueden tener diferentes perspectivas, en algunas ocasiones están fundamentados en una planificación totalmente teórica, siguiendo esquemas pre establecidos, en otras, las ideas musicales tienen origen en lo irreflexivo o inconsciente (Goldstein 2014). En el caso de este proyecto, ambos caminos fueron empleados de manera equitativa. Es importante aclarar que en la etapa previa a la creación de las obras, los procesos intuitivos y espontáneos se han alimentado y construido a partir de lo teórico y lo conceptual, generando de esta manera, un efecto bucle entre ambas instancias.
								
				div.row
					div.col
						
						div.buttons_down
							a.btn-primary.animsition-link(href='/quienes-lo-hicimos.html' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000')
								span ¿Quiénes lo hicimos? 
							a.btn-primary.animsition-link(href='/hablemos.html' data-animsition-out-class='fade-out-up' data-animsition-out-duration='1000')
								span Hablemos
					
		//- Footer	
		+footer-block("footer-pages")

