extends ./jade/includes/layout-pages.jade

//- Head html tag

block title
	title 7 Obras - Hablemos Gracias

block content
		
	//- Body tag
	body.frontpage
		//- Header & menu
		header
			div.container
				div.row
					div.col
						+header-logo
						+menu
		
		div.main.animsition(data-animsition-in-class="fade-in-up" data-animsition-in-duration="1000" data-animsition-out="fade-out" data-animsition-out-duration="1000")
			div.container
				div.row
					div.col
						
						//- Content & 1
						div.content_box_home.formulario
						
							div.buttons_up
								a.btn-primary.button.up(href='../index.html')
									span Obras
									
							div.title_items
								h2 Gracias por escribirnos!
								p Nos contactaremos prontamente con usted.
												
							
							//- Right vertical text (legal)		
							+right-vertical-text
							
		//- Footer	
		+footer-block
		
		
			