// ------------------------ menu side --------------------------- //
// --------------------------------------------------- //
.right_vertical_text{
	
	@include legal_right_footer ();
	position: absolute;
	right: calc(0px - 15rem);
    top: 20rem;
    @include prefix(transform, rotate(-90deg), webkit moz);
    
    @media only screen and (max-width: $breakpoint_4){
		//position: relative;
		//right: initial;
		//top: initial;
		//margin-bottom: 2rem;
		//@include prefix(transform, initial, webkit moz);
		right: calc(0px - 10.5rem);
    }
	
	span{
		
		&:nth-child(1){
			
		}
		
		&:nth-child(2){
			margin-left: 10rem;
			
			@media only screen and (max-width: $breakpoint_4){
				margin-left: .5rem;
			}
			
		}
		
	}
	
}