/* ------------------------ calculos bootstrap ------------------------
------------------------------------------------------------------------ */
$breakpoint_1: 1199px;
$breakpoint_2: 991px;
$breakpoint_3: 768px;
$breakpoint_4: 500px;

/* ------------------------ Colors: ------------------------
------------------------------------------------------------------------ */

/* ------------------------ Brand ------------------------ 
------------------------------------------------------------------------ */
$color_text: #4A4A4A;
$color_grey_light: #CBCBCB;
$color_grey_light_2: #EFF0F5;
$color_grey_dark: #9B9B9B;
$color_purple: #44005C;
$color_orange: #FF532E;
$color_white: #ffffff;

/* ------------------------ Font sizes ------------------------
------------------------------------------------------------------------ */
// Titles
$font_size_titles: 40px;
$line_height_titles: 50px;
// Highlight text
$font_size_higlight_text: 22px;
$line_height_higlight_text: 25px;
// Caption text
$font_size_caption_text: 14px;
$line_height_caption_text: 19px;
// Regular text
$font_size_regular_text: 15px;
$line_height_regular_text: 22px;
// Bigger regular text
$font_size_bigger_regular_text: 18px;
$line_height_bigger_regular_text: 24px;
// Legal right text
$font_size_legal_right_text: 13px;
$line_height_legal_right_text: 18px;
// Legal footer text
$font_size_legal_footer_text: 9px;
$line_height_legal_footer_text: 14px;
// Button text
$font_size_button_text:14px;
$line_height_button_text: 20px;
// Menu side text
$font_size_menu_side_text:27px;
$line_height_menu_side_text: 45px;
// Menu side inner text
$font_size_menu_side_inner_text:22px;
$line_height_menu_side_inner_text: 33px;
// Nombre equipo text
$font_size_nombre_equipo_text:27px;
$line_height_nombre_equipo_text: 27px;
// H5 text
$font_size_h5_text:16px;
$line_height_h5_text: 21px;




